---
import { Icon } from "astro-icon/components";
import { headLiners, socialMedia, helpLinks } from "../assets/staticObjets";
import CardIcon from "./Card-Icon.astro";
---

<footer
  class="text-sm bg-gradient-to-b from-fiord-600 to-fiord-700 md:text-lg rounded-t-xl p-5 text-alabaster-100 m-0"
>
  <section
    class="flex space-x-2 mb-3 md:space-x-3 md:p-5 divide-x-2 divide-alabaster-400 md:mb-0"
  >
    {
      headLiners.map((headLiener) => (
        <CardIcon
          title={headLiener.title}
          description={headLiener.description}
          icon={headLiener.icon}
        />
      ))
    }
  </section>
  <nav class="flex items-center justify-evenly">
    <section>
      <ul class="font-subtitle">
        <h2 class="font-title mb-2">Ayuda</h2>
        {
          helpLinks.map((route) => (
            <li>
              <a
                href={route.url}
                class="hover:text-alabaster-400 transition-colors duration-300"
              >
                {route.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <ul class="font-subtitle">
        <h2 class="font-title mb-2">Redes Sociales</h2>
        {
          socialMedia.map((link) => (
            <li class="flex space-x-2">
              <a
                href={link.url}
                class="hover:text-alabaster-400 transition-colors duration-300"
              >
                {link.title}
              </a>
              <Icon
                name={link.icon ? link.icon : "phone"}
                class="w-5 h-5 text-alabaster-100 hover:text-alabaster-400 transition-colors duration-300"
              />
            </li>
          ))
        }
      </ul>
    </section>
  </nav>
  <h3 class="text-center font-subtitle text-sm pt-4">
    &copy; 2025-2026 Este canal de distribución pertenece a Multipartes García
    S.A. de C.V., identificado con la marca Multipartes García's. Carretera a
    Colotlán.
  </h3>
</footer>
